*{
	padding: 0;
	margin:0;
	box-sizing: border-box;

}

.contenedor {
	
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;
}

.historias {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.historias div {
	margin: 0 10px;
}
.icono-slider{
	margin: 20px 0px;
	font-size: 40px;
	opacity: 0.7;
}
.opciones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.opcion-icono{
	width: 33%;
	font-size: 14px;

}

.cuadros{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.cuadro-image{
	width: 30%;
	background-color: #ccc;
	height: 100px;
	margin: 0 5px;
	color: #ccc;
}
/*Lado derecho*/
.publicidad{
	width: 100%;
	height: 150px;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flechas{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 600px;
	height: 600px;
}
.flechas i{
	font-size: 25px;
}