*{
	padding: 0;
	margin:0;
	box-sizing: border-box;

}

body{
	background: white;
	font-family: "Open Sans";
	font-size: 16px;
}
header {
	
	max-height: 600px;

}
.contenedor {
	
	width: 90%;
	max-width: 1000px;
	margin:40px auto;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contenedor .menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	width: 70%;
}

.contenedor .menu a:nth-child(-n+3) {
	display: inline-block;
	margin: 0 10px;
	font-weight: 600;
	text-decoration: none;
}

.link{
	position: relative;
}
.link:after{
	content: "";
	width: 0%;
	height: 4px;
	background-color: black;
	position: absolute;
	bottom: -8%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.8s all;

}
.link:hover:after{
	width: 100%;

}


.contenedor .menu .red-social {
	margin: 0 4px;
	display: block;
	padding: 15px 0;
}

.contenedor .menu .red-social {
	margin: 0 4px;
	display: block;
	padding: 15px 0;
	font-weight: bold;
}


.contenedor .menu  .twitter:hover{
	color: #1da1f2;
}
.contenedor .menu  .facebook:hover{
	color: #3b5998;
}

.contenedor .menu  .instagram:hover{
	color: #e1306c;
}


/*Cotenido*/
.main {
	max-width: 800px;
	margin:0  auto;
}
.contenido {
	border-bottom: 5px;
	box-shadow:  10px 10px 10px #ccc;
	border-radius: 5px;
	

}
.contenido .titulo {
	margin: 40px 0;
	line-height: 50px;
	font-size: 30px;
	color: white;
	font-weight: bold;

}

.contenido .contenido-left {
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/inicio/left.jpg');
  /* background-image: url('../src/assets/fondo.jpg'); */
  background-position: center;

  background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px ;
}



.contenido .contenido-left .boton-registrar{
	display: block;
	margin: 20px auto;
	padding: 5px;
	border:none;
	border-radius: 20px;
	color: white;
	font-size: 15px;
	border: 2px solid white;
	background-color: #f4144a;
	width: 250px;

}

.contenido .contenido-rigth{
	
background:white;


}
.redes-sociales{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.redes-sociales p{
	font-size: 25px;
	margin: 0 20px;
	border-radius: 50%;
	
	cursor: pointer;

}
.facebook{
	color:#3b5998;

}
.google{
	color: #dd4b39;
}

/*Formulario*/

.contacto .input{
	border:2px solid #cecece;
	border-radius: 5px;
	padding:10px 15px;
	font-size: 15px;
	color:#a4a4a4;
	font-weight: 200;
	background-color: white;
}
.boton-submit{
	margin: 40px 0;
	width: 250px;
	border-radius: 20px;
	padding: 10px;
	border:2px solid white;
	background-color: #1c6ff6;
	color: #fff;
}
/*footer*/
footer {
	max-width: 900px;
	margin: 0 auto;
}
footer .contenedor .footer-texto{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 15px;


}


/*Modal registro*/




.form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
  width: 45%;
  display: inline-block;
  margin: 0 5px;
}
.form__div2{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
  width: 93%;
  display: inline-block;
  margin: 0 5px
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  font-family: "Open Sans";

}
.form__label{
  position: absolute;
  left: 1rem;
  top: 14px;
  padding: 0 .25rem;
  background-color: #fff;
  color:#ccc;
  font-size: 15px;
  transition: .3s;
}


/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: #328cf8;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size:15px;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus{
  border: 1.5px solid #ccc;
}
